body {
  background: #f9fcff;
  font-family: 'Times New Roman', Times, serif;
}
.card {
  background-color: #f9fcff;
  padding: 1.5rem 2rem;
  text-align: center;
  max-width: 300px;
  margin: 3rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
}

.card-1 {
  border-color: #f12024;
}

.card-2 {
  border-color: #75eb1b;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
}

.card-1 .icon {
  background: #7933b7;
}

.card-2 .icon {
  background: #1708f0;
}

.btn {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  border: transparent;
  border-radius: 0.5rem;
  letter-spacing: 2px;
}
.btn-1 {
  background-color: #f1bfd2;
  color: #ee0420;
}
.btn-2 {
  background-color: #f1bfd2;
  color: #ee0420;
}
